  <style>
    body {
      margin: 0;
      font-family: "Montserrat", sans-serif;
    }

    .main-section {
      padding: 20px;
    }

    .image-container {
      height: 500px;
      background-image: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470');
      background-size: cover;
      background-position: center;
      border-radius: 6px;
    }

    h1, h3 {
      margin-bottom: 0;
      font-family: "Prata", serif;
      font-weight: 400;
    }

    h1 {
      font-size: 64px;
    }

    h3 {
      font-size: 24px;
      margin-top: 0;
    }

    a.author-link {
      font-weight: 600;
      font-style: italic;
      text-decoration: none;
    }

    h6 {
      padding: 22px;
      margin-top: 56px;
      margin-bottom: 0;
      color: white;
      border-radius: 6px;
      background: linear-gradient(to right, #3a6ea5, #89cff0);
    }

    ul.related {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    ul.related li a {
      display: block;
      padding: 6px 0 6px 22px;
      border-bottom: 1px solid #dfdfdf;
      text-decoration: none;
      color: #3a6ea5;
    }

    footer {
      background: black;
      color: white;
      padding: 16px;
      text-align: center;
    }

  </style>